@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "metropolis-light";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/metropolis/Metropolis-Light.woff') format('woff');
}

@font-face {
  font-family: "metropolis-light";
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/metropolis/Metropolis-LightItalic.woff') format('woff');
}

@font-face {
  font-family: "metropolis-extralight";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/metropolis/Metropolis-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: "metropolis-regular";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/metropolis/Metropolis-Regular.woff') format('woff');
}

@font-face {
  font-family: "metropolis-regular";
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/metropolis/Metropolis-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: "metropolis-semibold";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/metropolis/Metropolis-SemiBold.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

.subhead {
  letter-spacing: 0.05rem;
  line-height: 2.4rem;
}

body {
  font-family: "metropolis-light", "Times New Roman", serif;
  font-weight: 300;
  color: #0F172A;
  background: #ffffff;
}
